<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--this service radius server endpoint (0.0.0.0 - listen all interfaces) -->
    <add key="adapter-server-endpoint" value="0.0.0.0:1812"/>

    <!--Multifactor API -->
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>

    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->

    <!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
    <add key="logging-level" value="Debug"/>
    <!--<add key="logging-format" value="json"/>-->

    <!--Syslog server-->
    <!--<add key="syslog-server" value="udp://syslog-server:514"/>-->

    <!--Syslog format: RFC3164 or RFC5424-->
    <!--<add key="syslog-format" value="RFC5424"/>-->

    <!--<add key="syslog-facility" value="Auth"/>-->
    <!--<add key="syslog-app-name" value="multifactor-radius"/>-->
    <!--<add key="log-file-max-size-bytes" value="1073741824"/>-->

	<!-- 
        Groups to assign to the registered user. Specified groups will be assigned to a new user.
        Syntax: group names (from your Management Portal) separated by semicolons.
        Example: group1;Group Name Two;
    -->
	<!--<add key="sign-up-groups" value=""/>-->
  </appSettings>
</configuration>