<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ActiveDirectory" type="MultiFactor.Radius.Adapter.ActiveDirectorySection, MultiFactor.Radius.Adapter"/>
    <section name="RadiusReply" type="MultiFactor.Radius.Adapter.RadiusReplyAttributesSection, MultiFactor.Radius.Adapter"/>
  </configSections>
  
  <appSettings>
    <!--this service radius server endpoint (0.0.0.0 - listen all interfaces) -->
    <add key="adapter-server-endpoint" value="0.0.0.0:1812"/>
    <!-- shared secret between this service and radius client -->
    <add key="radius-shared-secret" value="0000000000"/>

    <!--First factor (login/pwd) authentication source -->
    <!--One of: ActiveDirectory, ADLDS, Radius, None-->
    <add key="first-factor-authentication-source" value="ActiveDirectory"/>

    <!--ActiveDirectory authentication source settings-->
    <add key="active-directory-domain" value="domain.local"/>

    <!--ActiveDirectory access group (optional);-->
    <!--<add key="active-directory-group" value="VPN Users"/>-->

    <!--ActiveDirectory 2FA group (optional);-->
    <!--<add key="active-directory-2fa-group" value="2FA Users"/>-->

    <!--Use ActiveDirectory User General properties phone number (optional)-->
    <!--<add key="use-active-directory-user-phone" value="true"/>-->

    <!--Use ActiveDirectory User Telephones properties mobile number (optional)-->
    <!--<add key="use-active-directory-mobile-user-phone" value="true"/>-->

    
    <!--Radius authentication source settings-->
    <!--this service radius client endpoint, must not be  127.0.0.1 -->
    <!--<add key="adapter-client-endpoint" value="192.168.0.1"/>-->
    
    <!--remote radius server endpoint, must not be 127.0.0.1  -->
    <!--<add key="nps-server-endpoint" value="192.168.0.1:1812"/>-->
    
    <!--AD LDS authentication source settings-->
    <!--<add key="ldap-url" value="ldap://server:port/CN=Users,CN=Instance1,DC=domain,DC=local"/>-->

    <!--Multifactor API -->
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-nas-identifier" value="1"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-shared-secret" value="2"/>

    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->

    <!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
    <add key="logging-level" value="Debug"/>
    <!--<add key="logging-format" value="json"/>-->

    <!--Syslog server-->
    <!--<add key="syslog-server" value="udp://syslog-server:514"/>-->

    <!--Syslog format: RFC3164 or RFC5424-->
    <!--<add key="syslog-format" value="RFC5424"/>-->

    <!--<add key="syslog-facility" value="Auth"/>-->
    <!--<add key="syslog-app-name" value="multifactor-radius"/>-->

    <!--Windows Service settings -->
    <add key="service-unit-name" value="MFRadiusAdapter"/>
    <add key="service-display-name" value="MultiFactor Radius Adapter"/>
  </appSettings>
</configuration>