<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net451" />
  <package id="Serilog" version="2.10.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net45" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.SyslogMessages" version="2.0.1" targetFramework="net462" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
</packages>