<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="adapter-server-endpoint" value="0.0.0.0:1812"/>
		<add key="radius-shared-secret" value="000"/>
		<add key="multifactor-api-url" value="https://api.multifactor.dev"/>
		<add key="first-factor-authentication-source" value="None"/>
		<add key="multifactor-nas-identifier" value=" nasid"/>
		<add key="multifactor-shared-secret" value="de5b2d3cd0186f83414d64589533b4d3"/>
		<add key="logging-level" value="Debug"/>
	</appSettings>
</configuration>